@import "./Table";
#item-table-container {
    width:          80%;
    text-align:     center;
    align-items:    center;
    justify-items:  center;
    margin:         auto;
    font-size:      0.8rem;
}
