#table-container {
    #table {
       width:100%;
        #table-head {
            width:      100%;
            display:    table-header-group;
            text-align: left;
            .table-row {
                display: table-row;
            }
            .table-cell {
                display: table-cell;
                padding: 1rem;
            }
        }
    }
    
}
